name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-11.0

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: make
